<p class="actions"><%= link_to "Back to Affilates", admin_affiliates_path %></p>
<h2>Edit Affilate</h2>
<h1><span class="green"><%= @affiliate.login %></span></h1>

<% form_tag admin_affiliates_path do %>

	<div class="input">
		<%= label_tag "Name:" %>
		<%= text_field_tag "name", @affiliate.name, :class => "text" %>
	</div>

	<div class="input">
		<%= label_tag "Username:" %>
		<%= text_field_tag "login", @affiliate.login, :class => "text" %>
	</div>

	<div class="input">
		<%= label_tag "Email address:" %>
		<%= text_field_tag "email", @affiliate.email, :class => "text" %>
	</div>

	<div class="input">
		<%= label_tag "Activated:" %>
		<% if @affiliate.active? %>
			<p class="text"><%= image_tag "icons/tick.png" %> <%= @affiliate.activated_at %></p>
		<% else %>
			<p class="text"><%= image_tag "icons/cross.png" %> (not activated)</p>
			<p class="text"><%= link_to "Send activation email", "/admin/affiliates/remind/#{ @affiliate.id }" %></p>
		<% end %>
	</div>

	<div class="input">
		<%= label_tag "Approved:" %>
		<% if @affiliate.approved? %>
			<p class="text"><%= image_tag "icons/tick.png" %> at <%= @affiliate.approved_at %></p>
		<% else %>
			<p class="text"><%= image_tag "icons/cross.png" %> (not approved)</p>
			<p class="text"><%= link_to "Approve account", "/admin/affiliates/approve/#{ @affiliate.id }" %></p>
		<% end %>
	</div>

	<div class="input">
		<%= label_tag "Member since:" %>
		<p class="text"><%= @affiliate.created_at %> (<%= distance_of_time_in_words(@affiliate.created_at.to_i, Time.now.to_i) %>)</p>
	</div>

	<h3>Change Password</h3>

	<div class="input">
		<%= label_tag "New Password:" %>
		<%= password_field_tag "password", nil, :class => "text" %>
	</div>

	<div class="input">
		<%= label_tag "Confirm New Password:" %>
		<%= password_field_tag "password_confirmation", nil, :class => "text" %>
	</div>

	<p class="submit"><%= submit_tag "Update" %></p>
<% end %>
