<p class="actions"><%= link_to "New Affiliate", new_admin_affiliate_path %></p>

<h1>Affiliates</h1>

<table>
	<tr>
		<th>Id</th>
		<th>Username</th>
		<th>Email</th>
		<th>Activated</th>
		<th>Approved</th>
		<th>&nbsp;</th>
	</tr>
	<% @affiliates.each do |affiliate| %>
	<% tr_class = cycle('','alt') %>

	<tr class="<%= tr_class %>">

			<td><%= affiliate.id %></td>
			<td><%= render :partial => "affiliate_tag", :locals => { :affiliate => affiliate } %></td>
			<td><%= affiliate.email %></td>
			<td>
				<% if affiliate.active? 	%> 
					<%= image_tag("icons/tick.png") %>
				<% else %>
					<%= image_tag("icons/cross.png") %> <%= link_to("(remind)", "/admin/affiliates/remind/#{ affiliate.id }", :class => "imageText") %>
				<% end %>
			</td>
			<td>
				<% if affiliate.approved? %> 
					<%= image_tag("icons/tick.png") %> <%= link_to("(revoke)", "/admin/affiliates/revoke/#{ affiliate.id }", :class => "imageText") %> 
				<% else %>
					<%= image_tag("icons/cross.png") %> <%= link_to("(approve)", "/admin/affiliates/approve/#{ affiliate.id }", :class => "imageText") %>
				<% end %>
			</td>
			<td>
				<%= link_to 'Edit', edit_admin_affiliate_path(affiliate) %>
			</td>

	</tr>
	<tr class="<%= tr_class %>">

		<td colspan="6" style="padding:0 0.25em;border-top:0;border-bottom:0">
			<div id="<%= affiliate.id %>-codes" class="affiliateCodes" style="">

			<% affiliate.trackback_codes.each do |code| %>
				<div class="affiliateCode">
					<p><span class="codeName"><%= code.name %></span> (<%= code.percentage %>% of order)
						<%= link_to("Edit", edit_admin_trackback_code_path(code.name)) %>
						<%= link_to("Delete", admin_trackback_code_path(code.name), :confirm => "Are you certain?\nThis cannot be undone.", :method => :delete) %>
					</p>
				</div>
			<% end %>

			<br/>

			<p><strong><%= link_to "Add Code", "#", :onclick => "javascript: document.getElementById('#{affiliate.id}-add-code').style.display = '';document.getElementById('#{affiliate.id}-add-code-name').focus()"%></strong>
				<span id="<%= affiliate.id %>-add-code" style="display:none">
				<% form_for :trackback_code, :url => {:controller => "trackback_codes" } do |f| %>
					<%= label_tag 'Name:' %> <%= f.text_field 'name', :class => 'text', :id => "#{affiliate.id}-add-code-name" %>
					<%= label_tag '%:' %> <%= f.text_field 'percentage', :class => 'text' %>
					<%= f.hidden_field 'user_id', :value => affiliate.id %>
					<%= submit_tag 'Add' %>
				<% end %>
				</span>
			</p>

			</div>
		</td>
	</tr>
	<% end %>
</table>
