<p class="actions"><%= link_to "Back to Affilates", admin_affiliates_path %></p>
<h2>New Affilate</h2>

<%= error_messages_for :affiliate %>

<% form_for [:admin, @affiliate] do |form| %>

	<div class="input">
		<%= label :affiliate, :name %>
		<%= form.text_field "name", :class => "text" %>
	</div>

	<div class="input">
		<%= label :affiliate, :login, "Username" %>
		<%= form.text_field "login", :class => "text" %>
	</div>

	<div class="input">
		<%= label :affiliate, :email, "Email address" %>
		<%= form.text_field "email", :class => "text" %>
	</div>

	<div class="input">
		<%= label :affiliate, :password %>
		<%= form.password_field "password", :class => "text" %>
	</div>

	<div class="input">
		<%= label :affiliate, :password_confirmation, "Confirm Password" %>
		<%= form.password_field "password_confirmation", :class => "text" %>
	</div>

	<div class="input">
		<%= label_tag "Send Activation?", nil, :class => "inline" %>
		<%= check_box_tag "send_activation", 1, false %>
		<p>If this is checked, the affiliate will have to confirm their account before being able to use it.</p>
	</div>

	<div class="input">
		<%= label_tag "Approved:", nil, :class => "inline" %>
		<%= check_box_tag "approved", 1, true %>
	</div>

	<p class="submit"><%= submit_tag "Create" %></p>
<% end %>
