<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="robots" content="noindex, nofollow" />
	<title>Affiliation::Administration</title>
	<%= stylesheet_link_tag "reset.css" %>
	<%= stylesheet_link_tag "admin.css" %>
</head>
<body>
<div class="mainMenu"> 
	<h1>Affililation - Administration</h1>
	<p id="userStatus"><%= @current_user.login %> | <%= link_to "logout", "/logout" %></p>
	<ul> 
		<li class="<%= controller.controller_name == "admin" && controller.action_name == "index" ? "selected" : "" %>">
			<%= link_to "Dashboard", "/admin", :class => "mainMenuLeft" %>
		</li>
		<li class="<%= controller.controller_name == "users" ? "selected" : "" %>">
			<%= link_to "Users", admin_users_path, :class => "mainMenuRight" %>
		</li>
	</ul> 
</div>

<div class="subMenu">
	<ul>
		<li class="<%= controller.controller_name == "affiliates" ? "selected" : "" %>">
			<%= link_to "Affiliates", admin_affiliates_path, :class => "subMenuLeft" %>
		</li>
		<li class="<%= controller.controller_name == "payable_actions" ? "selected" : "" %>">
			<%= link_to "Commissions", admin_payable_actions_path, :class => "subMenuLeft" %>
		</li>
	</ul>
</div>

<div id="bodyContainer">
	<% if flash[:error] %>
		<div id="errorMessage">
			<%= flash[:error] %>
		</div>
	<% end %>
	<%= @content_for_layout %>
</div>

<div id="footer">
</div>

</body>
</html>
